<html>
<header>
  <title>My Widget Example</title>
</header>

<body>
  <h1>Pega Widget Example</h1>

  <!-- ADD PEGA WEB MESSAGING WIDGET -->
  <script id="pega-wm-chat"
    src="https://widget.sandbox.chat.pega.digital/b7daf3f9-0ae7-451b-a308-a74c33077b35/widget.js"></script>

  <!-- HOOK CALLBACK EVENT FROM WIDGET TO LOCAL FUNCTION -->
  <script type="text/javascript">
    if (typeof PegaUnifiedChatWidget === "undefined") {
      var PegaUnifiedChatWidget = {}
    }

    /**
     * This callback will be invoked when the customer clicks on the chat bubble
     * It should return a valid chat session id
     */
    PegaUnifiedChatWidget.onCreateSessionRequest = async () => {
      /**
       * Send request to the backend to issue a new chat session using Digital Messaging Service API
       * Clients can add their own authentication on top of this request
       */
      var response = await fetch('/create-chat-session').then(response => response.text());
      console.log(response);
    }
  </script>
</body>

</html>