<html>
  <header>
    <title>My Widget Example</title>
  </header>
  <body>
    <h1>Pega Widget Example</h1>

    <!-- ADD PEGA WEB MESSAGING WIDGET -->
    <script id="pega-wm-chat"
      src="https://widget.use1.chat.pega.digital/b3781c4d-d5bb-4716-bfec-4c7edcf03b5c/widget.js"></script>

    <!-- HOOK CALLBACK EVENT FROM WIDGET TO LOCAL FUNCTION -->
    <script type="text/javascript">
      if (typeof PegaUnifiedChatWidget === "undefined") {
        var PegaUnifiedChatWidget = {}
      }

      // This callback will be invoked every time a new chat session is started
      PegaUnifiedChatWidget.onSessionInitialized = (sessionId) => {
        console.log("Chat session started. Session ID", sessionId);

        // Custom logic to send the session Id to the backend and transmit private data
        var request = new XMLHttpRequest();
        request.open('POST', '/private-data', true);
        request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        request.send('sessionId=' + sessionId);
      }
    </script>
  </body>
</html>